@use '../helpers' as *;

.actions {
    @include abs-x;

    width: max-content;
    display: flex;
    bottom: rem(47);
    border-radius: rem(50);
    padding: rem(7);
    border: 2px solid #c9c9c9;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.1);

    @include mobile-s {
        bottom: rem(16);
        padding: rem(5);
    }

    &--colored {
        border: none;
        background-color: var(--color-light-violet);

        @include mobile-s {
           bottom: rem(47);
        }

        .actions__button-text {
            font-size: fluid(20, 14);
        }

        .actions__button-text--colored {
            color: var(--color-blue);
        }

        .button {
            padding: rem(14) rem(32);

            @include mobile-s {
                padding-inline: rem(18);
            }
        }
    }

    &__button {
        position: relative;
        padding: rem(16) rem(32);
        border-radius: rem(60);

        @include mobile {
            padding: rem(12) rem(16);
        }

        &-text {
            font-weight: 500;
            font-size: fluid(20, 14);
            letter-spacing: -0.01em;
            color: var(--color-white);
        }

        &-link {
            @include link-button;
        }

        &.is-active {
            border: rem(0.5) solid var(--color-light-blue-1);
            border-radius: rem(60);
            padding-right: rem(75);
            background-color: var(--color-blue);

            @include mobile {
                padding-right: rem(65);
            }

            @include mobile-s {
                padding-right: rem(55);
            }

            &::after {
                content: '';
                right: rem(20);
                width: rem(50);
                height: rem(50);
                background-image: url('../icons/arrow-right-top.svg');
                background-size: contain;
                background-repeat: no-repeat;

                @include abs-y;

                @include mobile {
                    width: rem(40);
                    height: rem(40);
                }

                @include mobile-s {
                    width: rem(30);
                    height: rem(30);
                }
            }
        }
    }
}