@use '../helpers' as *;

.header {
    position: sticky;
    width: 100%;
    z-index: 100;
    top: rem(40);   
    border-radius: rem(50);

    @include mobile {
        top: rem(20); 
    }

    &__body {
        position: relative;
        padding: rem(10);
        border-radius: rem(50);
        background-color: var(--color-light-violet);
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;

        @include tablet-above {
            animation-name: scrolling-header;
            animation-fill-mode: both;
            animation-timeline: scroll();
            animation-range: rem(100) rem(200);

            @keyframes scrolling-header {
                to {
                    box-shadow: 0 0 1rem 0 var(--color-black);
                }
            }
        }
    }

    &__logo {
        position: relative;

        @include tablet-above {
            @include abs-center;
        }
    }

    &__overlay {
        @include tablet-above {
            display: contents;
        }

        @include tablet {
            position: fixed;
            inset: rem(110) 0 0 0;
            display: flex;
            flex-direction: column;
            justify-content: start;
            row-gap: 3rem;
            padding: 3rem 1rem 1rem;
            background-color: var(--color-white);
            transition-duration: var(--transition-duration);

            &:not(.is-active) {
                @include hide;

                translate: 100%;
            }
        }

        @include mobile {
            inset: rem(90) 0 0 0;
        }
    }

    &__menu {
        width: 100%;
        
        @include tablet {
            overflow-y: auto;
        }

        &-list {
            display: flex;
            align-items: center;
            column-gap: rem(16);

            @include laptop {
                column-gap: rem(6);
            }

            @include tablet {
                padding: rem(40);
                border-radius: rem(50);
                flex-direction: column;
                row-gap: 1rem;
                background-color: var(--color-light-violet);
            }

            @include mobile {
                padding: rem(20);
                row-gap: rem(8);
            }
        }

        &-item {
            @include tablet-above {
                &:nth-child(4) {
                    margin-left: auto;
                } 
            } 
        }

        &-link {
            padding: rem(20) rem(40);
            color: var(--color-blue);
            font-size: fluid(20, 16);
            letter-spacing: -0.01em;
            font-weight: 500;

            @include laptop {
                padding: rem(20) rem(20);
            }

            @include tablet {
                padding: rem(20) rem(35);
            }

            @include mobile {
                padding: rem(10) rem(25);
            }

            &.is-active {
                color: var(--color-white);
                font-weight: 700;
                letter-spacing: -0.01em;
                pointer-events: none;
                border-radius: rem(60);
                background-color: var(--color-blue);
            }
        }
    }
}