@use '../helpers' as *;

.portfolio-card {
    display: grid;
    grid-template-columns: (auto 35%);
    grid-template-areas: "content image";
    gap: rem(10);

    @include tablet-above {
        &:nth-child(2n) {
            grid-template-areas: "image content";
            grid-template-columns: (35% auto);
        }
    }

    @include tablet {
        display: flex;
        flex-direction: column;
    }

    &__info {
        grid-area: content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: rem(35);
        padding: rem(30);
        border-radius: rem(35);
        background-color: var(--color-light-violet);
    }

    &__tags {
        &-list {
            display: flex;
            flex-wrap: wrap;
            gap: rem(6);
        }

        &-item {
            padding: rem(8) rem(16);
            border: rem(1) solid var(--color-blue);
            border-radius: rem(50);

            p {
                font-size: fluid(18, 14);
                font-weight: 500;
                color: var(--color-blue);
            }

            @include mobile {
                padding: rem(6) rem(12);
            }
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(10);

        @include mobile-s {
            row-gap: rem(20);
            align-items: start;
            flex-direction: column;
        }
    }

    &__title {
        font-family: var(--font-family-base);
        color: var(--color-blue);
    }

    &__actions {
        display: flex;
        column-gap: rem(6);

        &-text {
            display: flex;
            align-items: center;
            padding: rem(10) rem(18);
            border: rem(1) solid var(--color-blue);
            border-radius: rem(35);

            @include mobile-s {
                padding-inline: rem(10);
            }

            p {
                font-weight: 600;
                color: var(--color-blue);
            }
        }
    }

    &__button {
        position: relative;
        display: flex;
        padding: rem(6);
        border: rem(1) solid var(--color-blue);
        border-radius: 50%;

        @include hover {
            .portfolio-card__button-icon {
                transform: rotate(45deg);
            }
        }

        &-link {
            @include link-button;
        }

        &-icon {
            transition-duration: var(--transition-duration);
        }
    }

    &__wrapper-image {
        justify-items: center;
        grid-area: image;
        padding: rem(30);
        border-radius: rem(35);
        background-color: var(--color-violet);
    }
}