@use '../helpers' as *;

.projects-preview-card {
    position: relative;
    justify-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;

    &:last-child {
        @include tablet-above {
            display: none;
        }

        @include mobile {
            display: none;
        }
    }

    @include mobile {
        width: 80%;
    }

    @include mobile-s {
        width: 100%;
    }

    &__header {
        position: absolute;
        width: 100%;
        top: rem(5);
        border-bottom: rem(1) solid #c9c9c9;
        padding-top: rem(30);

        @include tablet {
            padding-top: rem(30);
            top: rem(10);
        }

        @include mobile-s {
            padding-top: rem(20)
        }
    }

    &__title {
        padding: 0 rem(37) rem(23);
        font-size: fluid(32, 22);
        line-height: 1;
        font-weight: 500;
        letter-spacing: -0.01em;
        color: var(--color-white);

        @include mobile-s {
            padding: 0 rem(27) rem(20);
            font-size: fluid(24, 22);
        }
    }

    &__image {
        width: 100%;
        height: 100%;
    }

    &__button {
        @include square(fluid(110, 50));

        display: flex;
        position: absolute;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        background-color: var(--color-blue);

        @include tablet {
            @include square(fluid(154, 60));
        }

        @include mobile {
            @include square(fluid(234, 80));
        }

        @include hover {
            transition-duration: var(--transition-duration);
            transform: translate(-2px, -2px) scale(1.1);
        }

        &-link {
            @include link-button;
            z-index: 10;
        }

        &-icon {
            @include abs-center;
        }
    }
}