@use '../helpers' as *;

.projects-preview {
    position: relative;
    padding-block: rem(100) rem(65);

    @include tablet {
        padding-block: rem(70);
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../../images/projects/bg.jpg');
        background-size: cover;
        background-position: left;
        z-index: 1;
        border-radius: rem(50);

        @include tablet {
            background-image: url('../images/projects/bg-tablet.jpg');
        }

        @include mobile {
            background-image: url('../images/projects/bg-mobile.jpg');
        }
    }

    &__content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        row-gap: rem(90);

        @include mobile {
            row-gap: rem(40);
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(20);

        @include mobile {
            flex-direction: column;
        }
    }

    &__title {
        color: var(--color-white);

        &--accent {
            color: var(--color-light-yellow);
        }
    }

    &__button {
        position: relative;
        display: flex;
        align-self: center;
        border-radius: rem(60);
        padding: rem(18) rem(32);
        border: rem(1) solid var(--color-blue);
        transition-duration: var(--transition-duration);
        color: var(--color-blue);
        background-color: transparent;
        color: var(--color-white);
        background-color: var(--color-blue);

        @include hover {
            background-color: transparent;
            color: var(--color-blue)
        }

        &-link {
            @include link-button;
        }

        &-text {
            font-weight: 500;
            font-size: fluid(20, 16);
            letter-spacing: -0.01em;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        row-gap: rem(40);
    }

    &__list {
        --cols: 3;

        display: grid;
        grid-template-columns: repeat(var(--cols), 1fr);
        gap: rem(25);

        @include tablet {
            --cols: 2;
        }

        @include mobile {
            --cols: 1;
        }
    }
}