@use '../helpers' as *;

.services-card {
    position: relative;
    display: grid;
    row-gap: rem(20);
    padding: rem(30);
    border: rem(1) solid #c9c9c9;
    border-radius: rem(35);
    background-color: var(--color-light-violet);

    &:nth-child(2),
    &:nth-child(6) {
        background-color: var(--color-light-blue-3);
    }

    &:nth-child(3),
    &:nth-child(4) {
        background-color: var(--color-light-blue-2);
    }

    &:nth-child(5) {
        background-color: var(--color-light-blue-1);
    }

    &__blur {
        @include link-button;
        @include blur;

        border-radius: rem(35);
        z-index: 1;
    }

    &__title {
        display: flex;
        align-items: center;
        padding: rem(10);
        justify-self: start;
        border-radius: rem(15);
        background-color: var(--color-light-yellow);
        z-index: 2;

        font-family: var(--font-family-accent);
        font-weight: 600;
        font-size: rem(24);
        line-height: 110%;
        letter-spacing: -0.01em;
        color: var(--color-violet);
    }

    &__list {
        display: grid;
        row-gap: rem(10);
        z-index: 2;
    }

    &__item {
        display: flex;
        column-gap: rem(6);
    }

    &__icon {
        width: rem(13);
    }

    &__text {
        font-size: rem(16);
        line-height: 110%;
        letter-spacing: -0.01em;
        color: var(--color-blue);
    }
}